body {
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(narutoooh\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    



}
.container {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: yellowgreen;
    width: 300px;
    max-width: 100%; 
    overflow: hidden;
    color: whitesmoke;
    

}
.header {
    background-color: transparent;
    padding: 20px 40px;
}
.header h2 {
    margin: 0;
}
.form {
    padding: 30px 40px;
}
.form-control {
    margin-bottom: 5px;
    padding-bottom: 15px;
    position: relative;
}
.form-control label {

    display: inline-block;
    margin-bottom: 2px;
    color: whitesmoke;
     
}
.form-control input {
    border: 2px solid blue;
    border-radius: 4px;
    display: inline-block;
    padding: 2px;
    font-family: inherit;
}
.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    
}
.form button {
    background-color: gainsboro;
    border: 2px;
    padding: 10px;
    width: 100%;
    display: block;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;

}
.form-control.success input {
    border-color: green;
}
.form-control.error input {
    border-color: red;
}
.form-control.error small {
    visibility: visible;
    color: red;
}